<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxk.springboot.model.dao.MyTableMapper">
  <resultMap id="BaseResultMap" type="com.zxk.springboot.model.MyTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mytablecol" jdbcType="VARCHAR" property="mytablecol" />
    <result column="sign_day" jdbcType="INTEGER" property="signDay" />
    <result column="studentId" jdbcType="VARCHAR" property="studentid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, mytablecol, sign_day, studentId
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from mytable
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mytable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mytable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxk.springboot.model.MyTable">
    insert into mytable (id, name, mytablecol, 
      sign_day, studentId)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mytablecol,jdbcType=VARCHAR}, 
      #{signDay,jdbcType=INTEGER}, #{studentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxk.springboot.model.MyTable">
    insert into mytable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mytablecol != null">
        mytablecol,
      </if>
      <if test="signDay != null">
        sign_day,
      </if>
      <if test="studentid != null">
        studentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mytablecol != null">
        #{mytablecol,jdbcType=VARCHAR},
      </if>
      <if test="signDay != null">
        #{signDay,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxk.springboot.model.MyTable">
    update mytable
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mytablecol != null">
        mytablecol = #{mytablecol,jdbcType=VARCHAR},
      </if>
      <if test="signDay != null">
        sign_day = #{signDay,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        studentId = #{studentid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxk.springboot.model.MyTable">
    update mytable
    set name = #{name,jdbcType=VARCHAR},
      mytablecol = #{mytablecol,jdbcType=VARCHAR},
      sign_day = #{signDay,jdbcType=INTEGER},
      studentId = #{studentid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>